/* styling for content at 1024px*/

header{
max-width: 97%;
margin: auto;
margin-top: -1.8em;
background-color: rgba(222, 217, 215,.2);
padding-bottom: .2em;
}

h1{
  margin-left: .9em;
  padding-top: .9em;
  margin-bottom: -.01em;
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  margin: auto;
  margin-top: .01em;
  background-color: rgba(222, 217, 215,.2);
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.card{
  display: flex;
  margin-top: 1em;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  width: 19em;
  height: 9.1em;
  border-radius: .5em;
}

img {
  border-radius: 50%;
  max-width: 6.5em;
  max-height: 6.5em;
  margin-left: 1em;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

.text-container{
margin-left: .8em;
margin-top: 2em;
}

.name{
  margin-bottom: .5em;
  font-size: 1em;
}
.email,
.address{
  font-size: .8em;
  margin-top: -.5em;
  color: #a4a6a7;
}

/* Footer Styles  */

.footer {
  max-width: 95.1%;
  margin-left: .95em;
  max-height: 1.5em;
  background-color: rgba(222, 217, 215,.2);
  padding: 20px 0 40px 20px;
  text-align: center;
  margin-top: 0em;
  border-top: .1em solid rgba(222, 217, 215,.4)
}

.twitter,
.linkedin,
.github{
  max-width: 2.4em;
  margin: auto;
  margin-top: -1.2em;
  padding: .3em;
}

footer .copyright {
  margin-top: -.3em;
  margin-left: 1em;
  margin-right: 1.25em;
  font-size: .7em;
  font-style: italic;
  color: #0198E1;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.clearfix {
  clear: both;
}

/* Styling for the Model window */
body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* styling for content from 1400px - 1500px */
@media (min-width: 1400px)  {

  .card{
    margin-top: 1em;
    width: 26.5em;
    height: 9.5em;
  }

  img {
    margin-left: 2.2em;
    margin-top: 1em;
  }

  .text-container{
  margin-left: 1em;
  margin-top: 1em;
  }

  .name{
    font-size: 1.5em;
  }
  .email,
  .address{
    font-size: .9em;
  }

/* footer styles */
.footer{
  margin-left: 1.3em;
  max-width: 95.6%;
}

/* Styling for the Model window */
.modal {
  margin-top: 6.5em;
}

}

/* styling for content from 1500px - 1900px */
@media (min-width: 1500px) {

h1{
  margin-left: .9em;
}

.card{
  margin-top: 1em;
  width: 28em;
}

img {
  max-width: 6.8em;
  max-height: 6.8em;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.text-container{
margin-left: 1.2em;
margin-top: 1em;
}

.name{
  font-size: 1.6em;
}
.email,
.address{
  font-size: 1em;
}

/* footer styles */

.footer{
max-height: 2.7em;
margin-left: 1.45em;
max-width: 95.65%;
}

.twitter,
.linkedin,
.github{
  margin-top: -.7em;
}

}

/* styling for content from 1900px and above */
@media (min-width: 1900px) {

  h1{
    margin-left: 1.6em;
  }

  .card{
    margin-top: 1em;
    width: 35em;
    height: 10.5em;
  }

  img {
    max-width: 9em;
    max-height: 9em;
    margin-left: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .text-container{
  margin-left: 2em;
  margin-top: .9em;
  }

  .name{
    font-size: 1.7em;
  }
  .email,
  .address{
    font-size: 1.1em;
  }

  /* footer styles */

  .footer{
  max-height: 2.7em;
  margin-left: 1.8em;
  max-width: 95.98%;
  }

  .twitter,
  .linkedin,
  .github{
    margin-top: -.7em;
  }

  /* Styling for the Model window */
  .modal {
    margin-top: 7em;
  }

}
