/* styling for main content */

/* Styling for the Model window */
body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

hidden {
  display: none;
}

/* Footer Styles  */
footer {
  width: 100%;
  min-height: 1.9em;
  max-height: 5.2em;
  padding: 20px 0 40px 20px;
  position:fixed;
  bottom: 0px;
  text-align: center;
  height: 100vh;
}

.twitter,
.linkedin,
.github,
.facebook{
  max-width: 2.8em;
  margin: auto;
  width: 50%;
  padding: .3em;
}

footer .copyright {
  margin-top: -.3em;
  margin-right: 1.25em;
  font-size: 1em;
  font-style: italic;
  color: #0198E1;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.clearfix {
  clear: both;
}
