.pageContainer{
  background-color: #e2e2e2;
  border: 3px solid yellow;
  margin: auto;
  width: 70%;
  height: 81vh;
  padding: 10px;

}

.mainContent{
  border: 3px solid purple;
}

.directory{
border: 3px solid blue;
}
