// =========================================
//  Mixins
// =========================================


// =========== grid styles ==================

@mixin grid{
  display: grid;
}

@mixin oneFullScreenColumn{
  grid-template-columns: 100%;
  @include autoRows;
}

@mixin autoRows{
  grid-template-rows: auto;
}

@mixin columnStartOne{
  grid-column-start: 1;
  grid-column-end: 2;
}

@mixin columnStartTwo{
  grid-column-start: 2;
  grid-column-end: 3;
}

@mixin ColumnStartThree{
  grid-column-start: 3;
  grid-column-end: 4;
}

@mixin rowStartOne{
  grid-row-start: 1;
  grid-row-end: 2;
}

@mixin columnRepeatColumnThreeTimes{
  grid-template-columns: repeat(3, 1fr);
}


// ======= color ====================

@mixin lightPurple{
  background-color: #737ABF;
}

@mixin white{
  color: white;
}

@mixin darkGreyOne{
  color: #696969;
}

@mixin darkGreyTwo{
  color: grey;
}

@mixin lightGrey{
  background-color: #B3B3B3;
}

@mixin darkPurple{
  background-color: rgba(112, 112, 164, 1);
}


// ============ font styles =============

@mixin fontSizePointSixSixEm{
  font-size: .66em;
}

@mixin fontSizePointEightEm{
  font-size: .8em;
}

@mixin fontSizePointNineEm{
  font-size: .9em;
}

@mixin fontSizeOneEm{
  font-size: 1em;
}

@mixin fontSizeOnePointTwoEm{
  font-size: 1.2em;
}

@mixin fontSizeOnePointThreeEm{
  font-size: 1.3em;
}

@mixin fontSizeOnePointFiveEm{
  font-size: 1.5em;
}


//============= letter spacing ===================

@mixin letterSpacingPointZeroThreeEm{
  letter-spacing: .03em;
}

@mixin letterSpacingPointZeroSevenEm{
  letter-spacing: .07em;
}


//============ font type =======================

@mixin fontTypeOpenSans{
  font-family: 'Open Sans';
}

//============== font Weight ======================

@mixin fontWeightLighter{
  font-weight: lighter;
}

@mixin fontWeightBold{
  font-weight: bold;
}

//=============== font text transform ==============

@mixin textTransformUppercase{
  text-transform: uppercase;
}


// ========= group styles ===============

@mixin groupOne{
  grid-column-start: 1;
  grid-column-end: 2;
  text-transform: uppercase;
}


// ============== border radius=================

@mixin borderRadiusPointOneEightSevenFiveEm{
  border-radius: .1875em;
}

@mixin borderRadiusPointTwoFiveEm{
  border-radius: .25em;
}

@mixin borderRadiusPointThreeOneTwoFiveEm{
  border-radius: .3125em;
}

@mixin borderRadiusPointFourThreeSevenFiveEm{
  border-radius: .4375em;
}

@mixin borderRadiusFiftyPercent{
  border-radius: 50%;
}


//================ borderder ==================

@mixin borderPointZerpSixTwoFiveSolid{
  border: .0625em solid #dcdcdc;
}


// ============== max width ===============

@mixin maxWidthOnePointOneEm{
  max-width: 1.1em;
}

@mixin maxWidthTwoEm{
  max-width: 2em;
}


// ============== width ===============

@mixin widthOnePointFiveSixTwoFiveEm{
  width: 1.5625em;
}

@mixin widthTwoEm{
  width: 2em;
}

@mixin widthThirteenEm{
  width: 13em;
}

@mixin widthTwentyEm{
  width: 20em;
}

@mixin widthThirtyPointTwoFiveEm{
  width: 30.25em;
}

@mixin widthFortyFivePointThreeOneTwoFiveEm{
  width: 45.3125em;
}

@mixin widthOneHundPercent{
  width: 100%;
}


// ============== height ===============

@mixin heightZero{
  height: 0;
}

@mixin heightOnePointFiveEm{
  height: 1.5em;
}

@mixin heightOnePointFiveSixTwoFiveEm{
  height: 1.5625em;
}

@mixin heightOnePointSevenFiveEm{
  height: 1.75em;
}

@mixin heightTwoPointTwoEm{
  height: 2.2em;
}

@mixin heightTwoPointFiveEm{
  height: 2.5em;
}

@mixin heightThreePointFourEm{
  height: 3.4em;
}

@mixin heightFourPointFiveEm{
  height: 4.5em;
}


//=========== top ================

@mixin topZero{
  top: 0;
}


//================ left ==============

@mixin leftZero{
  left: 0;
}


//=============== position ===============

@mixin positionAbsolute{
  position: absolute;
}

@mixin positionRelative{
  position: relative;
}


//=========== flex ===================

@mixin flex{
  display: flex;
}


//============ opcacity =================

@mixin opacitZero{
  opacity: 0;
}


//============== text align ==============

@mixin textAlignCenter{
  text-align: center;
}


//============= padding ================

@mixin paddingBottomOneEm{
  padding-bottom: 1em;
}

@mixin paddingTopPointEightEm{
  padding-top: .8em;
}

@mixin paddingRightTwoPointThreeEm{
    padding-right: 2.3em;
}


// ================ margins zero ================


@mixin marginZero{
  margin: 0;
}


//============ margin top ====================

@mixin TopZeroPx{
  margin-top: 0px;
}

@mixin marginTopPointOneEm{
  margin-top: .1em;
}

@mixin marginTopPointFiveEm{
  margin-top: .5em;
}

@mixin marginTopPointEightEm{
  margin-top: .8em;
}

@mixin marginTopOnePointTwoEm{
  margin-top: 1.2em;
}

@mixin marginTopOnePointFourEm{
  margin-top: 1.4em;
}

@mixin marginOnePointSevenEm{
  margin-top: 1.7em;
}

@mixin marginTopTwoEm{
  margin-top: 2em;
}

//=============== margin right ===================

@mixin marginRightPointThreeOneTwoFiveEm{
  margin-right: .3125em;
}

@mixin marginRightFourEm{
  margin-right: 4em;
}


// ============== margin bottom ===============

@mixin marginBottomPointFourThreeSevenFiveEm{
  margin-bottom: .4375em;
}

@mixin marginBottomPointFiveEm{
  margin-bottom: .5em;
}

@mixin marginBottomPointSixTwoFiveEm{
  margin-bottom: .625em;
}

@mixin marginBottomPointEightEm{
  margin-bottom: .8em;
}

@mixin marginBottonOnePointFourEm{
  margin-bottom: 1.4em;
}

//============= margin left ================


@mixin marginLeftNegativeOnePointTwoFiveEm{
  margin-left: -1.25em;
}

@mixin marginLeftZero{
  margin-left: 0em;
}

@mixin marginLeftPointThreeEm{
  margin-left: .3em;
}

@mixin marginLeftPointFiveEm{
  margin-left: .5em;
}

@mixin marginLeftPointSixEm{
  margin-left: .6em;
}

@mixin marginLeftPointEightEm{
  margin-left: .8em;
}

@mixin marginLeftOneEm{
  margin-left: 1em;
}

@mixin marginLeftOnePointOneEm{
  margin-left: 1.1em;
}

@mixin marginLeftOnePointFiveEm{
  margin-left: 1.5em;
}

@mixin marginLefOnePointEightEm{
  margin-left: 1.8em;
}

@mixin marginLeftTwoEm{
  margin-left: 2em;
}

@mixin marginLeftTwoPointFiveEm{
  margin-left: 2.5em;
}

@mixin marginLeftTwoPointEightEm{
  margin-left: 2.8em;
}

@mixin marginLeftThreeEm{
  margin-left: 3em;
}

@mixin marginLeftFourEm{
  margin-left: 4em;
}

@mixin marginLeftSixPointSevenEm{
  margin-left: 6.7em;
}

@mixin marginLeftSevenEm{
  margin-left: 7em;
}

@mixin marginLeftEightEm{
  margin-left: 8em;
}

@mixin marginLeftNineEm{
  margin-left: 9em;
}

@mixin marginLeftTenEm{
  margin-left: 10em;
}

@mixin marginLeftTwentyThreeEm{
  margin-left: 23em;
}
